# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\项目实战\jxc_todo_0821\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
